.toggle-mode {
  position: relative;
  width: 4em;
  height: 2em;
  border: 1px solid transparent;
  border-radius: 15px;
  background-color: #2b6da6;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 10px;
}

.circle {
  position: absolute;
  width: 24px;
  height: 24px;
  border: 1px solid transparent;
  border-radius: 50%;
  margin-left: -6px;
  top: 50%;
  margin-top: -12px;
}

.toggleLight {
  background-color: #e4e4e4;
  transform: translateX(0px);
  animation: toggleLight 0.3s linear 1;
}

.toggleDark {
  background-color: black;
  transform: translateX(26px);
  animation: toggleDark 0.3s linear 1;
}

@keyframes toggleLight {
  0% {
    transform: translateX(26px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes toggleDark {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(26px);
  }
}
.icon-effect {
  position: absolute;
  left: 36px;
  margin-top: 3px;
  scale: 1.2;
}
.icon-effect .faSun {
  position: absolute;
  color: #fbde3c;
}
.icon-effect .faMoon {
  position: absolute;
  color: #fbde3c;
}

.sunLight {
  visibility: hidden;
  transform: translateX(0);
}

.moonLight {
  visibility: visible;
  transform: translateX(0);
  animation: moontolight 0.3s linear 1;
}

.sunDark {
  visibility: visible;
  transform: translateX(-26px);
  animation: suntodark 0.3s linear 1;
}

.moonDark {
  visibility: hidden;
  transform: translateX(-26px);
}

@keyframes suntodark {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-26px);
  }
}
@keyframes moontolight {
  0% {
    transform: translateX(-26px);
  }
  100% {
    transform: translateX(0px);
  }
}
@media only screen and (max-width:599px) {
  .toggle-mode {
    position: relative;
    width: 4em;
    height: 2em;
    border: 1px solid transparent;
    border-radius: 15px;
    left: 0px;
    background-color: #2b6da6;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 18px;
    font-size: 10px;
  }

  .circle {
    position: absolute;
    width: 1.8em;
    height: 1.8em;
    border: 1px solid transparent;
    border-radius: 50%;
    margin-left: -18px;
    top: 50%;
    margin-top: -0.9em;
  }

  .icon-effect {
    position: absolute;
    left: 25px;
    margin-top: 3px;
  }
  .icon-effect .faSun {
    position: absolute;
    color: #fbde3c;
  }
  .icon-effect .faMoon {
    position: absolute;
    color: #fbde3c;
  }

  .toggleLight {
    background-color: #e4e4e4;
    transform: translateX(0px);
    animation: toggleLight 0.3s linear 1;
  }

  .toggleDark {
    background-color: black;
    transform: translateX(20px);
    animation: toggleDark 0.3s linear 1;
  }

  @keyframes toggleLight {
    0% {
      transform: translateX(20px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes toggleDark {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(20px);
    }
  }
  .sunLight {
    visibility: hidden;
    transform: translateX(0);
  }

  .moonLight {
    visibility: visible;
    transform: translateX(0);
    animation: moontolight 0.3s linear 1;
  }

  .sunDark {
    visibility: visible;
    transform: translateX(-20px);
    animation: suntodark 0.3s linear 1;
  }

  .moonDark {
    visibility: hidden;
    transform: translateX(-20px);
  }

  @keyframes suntodark {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-20px);
    }
  }
  @keyframes moontolight {
    0% {
      transform: translateX(-20px);
    }
    100% {
      transform: translateX(0px);
    }
  }
}